Repository vmware/powershell-module-for-vmware-cloud-foundation-certificate-management, pull requests merged in 2023-06, with the labels that each got.

#29 docs: update psgallery link
  docs/index.md
Labels: documentation, cla-not-required, needs-review

#35 docs: fix cmdlet parameters
  docs/documentation/user-guide/esxi-certificate-management.md
  docs/snippets/vars-esxi-cer-mode.ps1
  docs/snippets/vars-linux.ps1
Labels: documentation, cla-not-required, needs-review

#36 fix: add disconnect vCenter Server prior to host restart
  CHANGELOG.md
  VMware.CloudFoundation.CertificateManagement.psd1
  VMware.CloudFoundation.CertificateManagement.psm1
Labels: bug, cla-not-required

#37 feat: add support for Powershell Core, PhotonOS and pre-check
  CHANGELOG.md
  README.md
  VMware.CloudFoundation.CertificateManagement.psd1
  VMware.CloudFoundation.CertificateManagement.psm1
  docs/documentation/functions/Confirm-ESXiCertificateInstalled.md
  docs/documentation/functions/Get-ESXiLockdownMode.md
  docs/documentation/functions/Restart-ESXiHost.md
  docs/documentation/functions/Set-ESXiLockdownMode.md
  docs/documentation/functions/Test-EsxiCertMgmtChecks.md
  docs/documentation/user-guide/esxi-certificate-management.md
  docs/index.md
  mkdocs.yml
Labels: documentation, enhancement, cla-not-required

#38 chore(gha): pin actions to commit sha
  .github/workflows/ci-module.yml
  .github/workflows/deploy.yml
  .github/workflows/issues.yml
  .github/workflows/lock-threads.yml
  .github/workflows/pull-requests.yml
  .github/workflows/stale.yml
Labels: chore, cla-not-required, github-actions

#39 chore: release preparation
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/docs.yml
  .github/pull_request_template.md
  CHANGELOG.md
  LICENSE
  NOTICE
  VMware.CloudFoundation.CertificateManagement.psd1
  docs/community/index.md
  mkdocs.yml
Labels: documentation, chore, cla-not-required, needs-review
