Repository vmware/powershell-module-for-vmware-cloud-foundation-certificate-management, pull requests merged in 2023-09, with the labels that each got.

#67 chore: update issue forms
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/docs.yml
  .github/ISSUE_TEMPLATE/enhancement.yml
  .github/workflows/project.yml
Labels: chore, cla-not-required

#68 refactor: update cmdlets and docs
  CHANGELOG.md
  VMware.CloudFoundation.CertificateManagement.psd1
  VMware.CloudFoundation.CertificateManagement.psm1
  docs/documentation/functions/Confirm-EsxiCertificateInstalled.md
  docs/documentation/functions/Get-EsxiCertificateThumbprint.md
  docs/documentation/functions/Get-EsxiLockdownMode.md
  docs/documentation/functions/Get-VCFCertificateThumbprint.md
  docs/documentation/functions/Get-vCenterCertificateThumbprint.md
  docs/documentation/functions/Install-EsxiCertificate.md
  docs/documentation/functions/Install-SddcCertificate.md
  docs/documentation/functions/Install-VCFCertificate.md
  docs/documentation/functions/Request-SddcCertificate.md
  docs/documentation/functions/Request-SddcCsr.md
  docs/documentation/functions/Request-VCFCsr.md
  docs/documentation/functions/Restart-EsxiHost.md
  docs/documentation/functions/Set-SddcCertificateAuthority.md
  docs/documentation/functions/Test-EsxiCertMgmtChecks.md
  docs/documentation/user-guide/esxi-certificate-management.md
  docs/documentation/user-guide/vcf-certificate-management.md
  docs/snippets/vars-csr-sddc-windows.ps1
  docs/snippets/vars-sddc-cer-auth-openssl.ps1
  docs/snippets/vars-sddc-cer-auth.ps1
  mkdocs.yml
Labels: documentation, enhancement, breaking-change, cla-not-required, refactor

#69 chore(ci): release gha
  .github/workflows/release.yml
  CONTRIBUTING.md
  README.md
  docs/community/contributing.md
Labels: chore, cla-not-required, github-actions

#70 chore(ci): update tests
  .ci/pester.tests.ps1
  .github/workflows/ci-module.yml
  .github/workflows/tests.yml
Labels: chore, cla-not-required, github-actions

#74 chore: update cmdlet names
  CHANGELOG.md
  VMware.CloudFoundation.CertificateManagement.psd1
  VMware.CloudFoundation.CertificateManagement.psm1
  docs/documentation/functions/Request-VCFSignedCertificate.md
  docs/documentation/functions/Set-VCFCertificateAuthority.md
  docs/documentation/user-guide/esxi-certificate-management.md
  docs/documentation/user-guide/vcf-certificate-management.md
  mkdocs.yml
Labels: cla-not-required
