Repository vmware/powershell-module-for-vmware-cloud-foundation-certificate-management, pull requests merged in 2024-07, with the labels that each got.

#119 feat: add pester testcases
  CHANGELOG.md
  VMware.CloudFoundation.CertificateManagement.psd1
  tests/cert.tests.ps1
  tests/inputData.json.example
  tests/logs/.gitkeep
Labels: documentation, cla-not-required, needs-review

#123 chore(deps): update dependencies
  CHANGELOG.md
  VMware.CloudFoundation.CertificateManagement.psd1
  docs/index.md
  docs/snippets/copy-module-local-windows.ps1
  docs/snippets/install-module.ps1
  docs/snippets/save-module-local-linux.ps1
  docs/snippets/save-module-local-windows.ps1
Labels: documentation, chore, cla-not-required, dependencies, needs-review

#121 feat: add non-disruptive esxi cert replacement
  CHANGELOG.md
  VMware.CloudFoundation.CertificateManagement.psm1
  docs/documentation/functions/Install-VCFCertificate.md
  docs/index.md
Labels: documentation, enhancement, cla-not-required, needs-review

#125 docs: update description for Install-VCFCertificates
  VMware.CloudFoundation.CertificateManagement.psm1
  docs/documentation/functions/Install-VCFCertificate.md
Labels: documentation, cla-not-required, needs-review
